nav{
    text-align: center;
    background-color: #05183D;
    padding:1em;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
nav a{
    color:white;
    padding:1em;
    margin:1em;
    text-decoration: none;
}
nav a:hover{
    background-color: gray;
}
summary{
    width: 150px;
    border: solid 2px #228CDD;
    border-radius: 8px;
    margin: 5px;
    background-color: #133474;
    color:white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    text-align: center;
}
summary:hover{
    cursor:pointer;
    background-color: #0a1a3b;
}
.sub1{
    margin-left:25px;
}
.sub2{
    margin-left:45px;
}
.add{
    margin-left:5px;
}
.data{
    background-color: #05183D;
    width:fit-content;
    color:white;
}

.hide{
    display: none;
}

.show{
    display: block;
}

input{
    height: 50px;
    width: 150px;
    border: solid 2px #133474;
    border-radius: 8px;
    margin: 5px;
    background-color: gray;
    color:white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

button{
    height: 50px;
    width: 150px;
    border: solid 2px #133474;
    border-radius: 8px;
    margin: 5px;
    background-color: gray;
    color:white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    text-align: center;
}

#jobtext{
    background-color: gray;
    border: solid 1px black;
}

#deletetext{
    background-color: gray;
    border: solid 1px gray;
}

input:hover{
    cursor:pointer;
    background-color: rgb(53, 52, 52);
}

::placeholder{
    color:black;
    text-align: center;
    opacity: 0.5;
}